.modalBackground, .pdfmodalBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.modalContainer {
  width: 40%;
  height: max-content;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .footer, .pdfmodalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalContainer .footer button, .pdfmodalContainer .footer button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.pdfmodalContainer {
  width: 50%;
  height: 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.pdf-file {
  margin: auto;
  width: 100%;
  height: 100%;
}

.pdf-file h1 {
  text-align: center;
}

/* ===Profile CSS=== */

.profile-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 40%;
  height: max-content;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.profile-bg .image-text img{
  width: 70px;
  border-radius: 6px;
}

.profile-bg .image-text{
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.image-text .header-text{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.profile-bg .header-text .name{
  font-weight: 600;
  font-size: large;
}