ul{
    list-style-type: none;
}

.indivBtn{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 200px;
    margin: 30px;
    background-color: transparent;
    inset:inherit;
    border-radius: 0px;
}

button{
    cursor: pointer;
}