/* =====Body===== */
.active-filter {
  background-color: #bbb5ff;
  border: solid 0px transparent;
  border-radius: 20px;
}

.main-content-app {
  /* position: relative; */
  top: 0;
  padding-top: 20px;
  height: 100%;
  background-color: #e4e9f7;
}

.sidebar-and-content{
  display: flex;
  flex-direction: row;
}

.app-title {
  padding-top: 10px;
}

.search-btn {
  width: 150px;
}

.search-bar {
  display: flex;
}

.status {
  align-content: center;
}

form .pending,
form .cleared {
  display: flex;
}

form .pending-text,
form .cleared-text {
  margin: 0;
  font-size: small;
}

.approver-body {
  width: 100%
}

.approverbody-content{
  padding: 50px;
}

.greet-and-switch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-list {
  background-color: #bdccf9;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.officer-student-list {
  /* background-color: #595FB1; */
  display: flex;
  justify-content: space-between;
  background-color: #e4e9f7;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.student-list-buttons{
  display: flex;
}

.student-list-buttons div {
  display: flex;
  flex-direction: column;
}

.student-list-buttons, .app-button{
  margin-left: 15px;
}

.submit-remark{
  display: flex;
  width: 55vw;
}

.submit-remark input{
  border-radius: 10px;
}

.submit-remark button{
  width: 200px;
}

.divider{
  position: relative;
  min-width:1.5px;
  max-width:1.5px;
  background-color:#969696;
  display:inline-block;
  margin:0 0.25%;
}

.nav-button{
  display: flex;
  flex-direction: row-reverse;
}

/* ===SideBar=== */
.app-nav {
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  background-color: #fff;
  z-index: 100;
}

.text date:not(:hover){
  border-radius: 5px;
}

.text adviser{

}

.bottom-content{
  display: flex;
  justify-content: center;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 15px;
}

.app-nav .text {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}

.app-nav .image {
  min-width: 70px;
  display: flex;
  align-items: center;
  color: #707070;
}

.app-nav li {
  height: fit-content;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.app-nav li div {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.app-nav li button {
  background-color: transparent;
  margin-left: 0;
  color: black;
}

.app-nav li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.app-nav li .icon,
.app-nav li .text {
  color: #707070;
  transition: all 0.3s ease;
}

.app-nav li:hover .icon,
.app-nav li:hover .text {
  color: #695cfe;
}

.app-nav header {
  position: relative;
}

.app-nav .app-image-text img {
  width: 60px;
  border-radius: 5px;
}

.app-nav header .app-image-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.app-nav .filter-bar .filter-title {
  padding-top: 15px;
  font-size: medium;
  font-weight: 500;
}

.filters{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}

header .app-image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .usertype {
  font-style: italic;
  color: rgb(94, 93, 93);
  margin-top: 10px;
}

.app-nav .filter-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adviser-btn{
  display: flex;
  flex-direction: column;
}

.adviser-list{
  background-color: #d7d4f5 !important;
  display: flex;
  flex-direction: column;
  max-height:100px;
  max-width:200px;
  overflow:auto;
}

.adviser-list, .text-button{
  justify-content: space-between;
}

.adviser-list p{
  margin-left: 2px;
  margin-right: 2px;
}

.adviser-list button{
  padding: 1px !important;
  width: 50px !important;
  background-color: #595FB1 !important;
  color: white !important;
  margin-left: 2px;
}

.date-btn {
  display: flex;
  flex-direction: column;

}

.date-btn button{
  padding-top: 0;
  padding-bottom: 0;
}

.step-btn {
  display: flex;
  flex-direction: column;
}

.step-btn button {
  padding-top: 0;
  padding-bottom: 0;
}

.status-btn {
  display: flex;
  flex-direction: column;
}

.status-btn button {
  padding-top: 0;
  padding-bottom: 0;
}

.filter-buttons{
  text-align: center !important;
  margin-top: 5px;
  margin-bottom: 15px;
  width: fit-content;
  /* background-color: #4f4f4f !important; */
}

.clear-button{
  width: fit-content;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menuButton:hover{
  border-radius: 5px;
}

.filter-buttons button {
  padding-top: 0;
  padding-bottom: 0;
}

.apply-buttons button{
  padding: 0.5;
  color: white !important;
  border-radius: 10px !important;
  background-color: #595FB1 !important;
}
