.signup-container {
    background-color: #f1f1f1;
    width: 50%;
    height: max-content;
    margin: auto;
    padding: 20px;
    position: relative;
}

form {
    border: 3px solid #f1f1f1;
}

p {
    text-align: center;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}