.signup-container {
  background-color: #f1f1f1;
  width: 50%;
  min-height: 100%;
  margin: auto;
  padding: 20px;
}

form {
  border: 3px solid #f1f1f1;
}

p {
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

.signup-back-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* {*css for student homepage*} */

.nav-contents {
  justify-content: space-between;
}

nav {
  background-color: #f1f1f1;
}

.student-homepage {
  background-color: #e8eff1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A4D68;
  text-align: center;
  margin-bottom: 0%;
}

img.logo {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav {
  background-color: #0A4D68;
}

.nav-list {
  padding-top: 0%;
  padding-bottom: 0%;
  list-style: none;
}

.nav-list button {
  padding-top: 0%;
  padding-bottom: 0%;
  width: max-content;
}

.nav-list button:hover {
  text-decoration: underline;
}

.nav-list li {
  display: inline-block;
  padding: 0 20px;
}


.logout-btn {
  background-color: transparent !important;
  height: fit-content;
  width: 6%;
}

.logout-btn:hover {
  color: black !important;
  background-color: #e8eff1 !important;
}



