@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat" sans-serif;
}

body {
  position: relative;
  height: 100%;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 500px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 50px;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.09);  border-radius: 5px;
  overflow: hidden;
}

.cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cancel-icon {
  font-size: 24px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.form-group.has-error input {
  border: 1px solid red;
}

.form-group.has-error .error-message {
  color: red;
}


input[type=text], 
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

form {
  border: none;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.signup-back-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff6666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel-icon {
  font-size: 18px;
  font-weight: bold;
  color: #f8f8f8;
  cursor: pointer;
}


.signupbtn-container button {
  padding: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}


.signupbtn {
  background-color: #695CFE;
  display: block;
  margin: 0 auto;
}

.signup-btn-container {
  text-align: center;
}

.signup-text {
  margin-bottom: 0;
}

.signup-link {
  color: blue;
  cursor: pointer;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: red;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}




